@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/rocket';

@source './node_modules/@skeletonlabs/skeleton-react/dist';

@import './storypoint-shuffle.css';

@custom-variant dark (&:where([data-mode="dark"], [data-mode="dark"] *));

.Dialog-overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}

.Dialog {
}

.preset-gradient-pt {
  background-image: linear-gradient(
    45deg,
    var(--color-primary-500),
    var(--color-tertiary-500)
  );
  color: var(--color-primary-contrast-500);
}

.player-gradient-1 {
  background-image: linear-gradient(
    45deg,
    var(--color-primary-200),
    var(--color-primary-400)
  );
  color: var(--color-primary-contrast-200);
}

.player-gradient-2 {
  background-image: linear-gradient(
    45deg,
    var(--color-secondary-200),
    var(--color-secondary-400)
  );
  color: var(--color-secondary-contrast-200);
}

.player-gradient-3 {
  background-image: linear-gradient(
    45deg,
    var(--color-tertiary-200),
    var(--color-tertiary-400)
  );
  color: var(--color-tertiary-contrast-200);
}

.player-gradient-4 {
  background-image: linear-gradient(
    45deg,
    var(--color-success-200),
    var(--color-success-400)
  );
  color: var(--color-success-contrast-200);
}

.player-gradient-5 {
  background-image: linear-gradient(
    45deg,
    var(--color-warning-200),
    var(--color-warning-400)
  );
  color: var(--color-warning-contrast-200);
}

.player-gradient-6 {
  background-image: linear-gradient(
    45deg,
    var(--color-error-200),
    var(--color-error-400)
  );
  color: var(--color-error-contrast-200);
}

.card-gradient-unselected {
  background-image: linear-gradient(
    45deg,
    var(--color-surface-50),
    var(--color-surface-200)
  );
  color: var(--color-surface-contrast-50);
}

.card-gradient-unselected:hover {
  background-image: linear-gradient(
    45deg,
    var(--color-surface-200),
    var(--color-surface-50)
  );
  color: var(--color-primary-contrast-50);
}

.card-gradient-selected {
  background-image: linear-gradient(
    45deg,
    var(--color-success-100),
    var(--color-success-300)
  );
  color: var(--color-success-contrast-100);
}
