/* This is a modified version of the rocket theme provided by skeleton-ui */

[data-theme='storypointshuffle'] {
  --text-scaling: 1.25;
  --base-font-color: var(--color-surface-950);
  --base-font-color-dark: var(--color-surface-50);
  --base-font-family:
    Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial,
    sans-serif;
  --base-font-size: inherit;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: inherit;
  --heading-font-color-dark: inherit;
  --heading-font-family:
    Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
  --heading-font-weight: lighter;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-600);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.375rem;
  --radius-container: 0.75rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(95.17% 0.03 212deg);
  --color-primary-100: oklch(89.75% 0.06 210.28deg);
  --color-primary-200: oklch(84.41% 0.09 211.01deg);
  --color-primary-300: oklch(79.75% 0.11 210.84deg);
  --color-primary-400: oklch(75.39% 0.12 213.21deg);
  --color-primary-500: oklch(71.82% 0.13 216.24deg);
  --color-primary-600: oklch(65.03% 0.12 216.11deg);
  --color-primary-700: oklch(58.32% 0.1 215.02deg);
  --color-primary-800: oklch(51.2% 0.09 215.58deg);
  --color-primary-900: oklch(44.06% 0.08 214deg);
  --color-primary-950: oklch(36.37% 0.06 213.45deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-dark);
  --color-primary-contrast-600: var(--color-primary-contrast-dark);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(90.39% 0.04 262.29deg);
  --color-secondary-100: oklch(84.44% 0.07 261.34deg);
  --color-secondary-200: oklch(78.56% 0.1 260.82deg);
  --color-secondary-300: oklch(73.02% 0.13 259.69deg);
  --color-secondary-400: oklch(67.52% 0.16 259.63deg);
  --color-secondary-500: oklch(62.34% 0.19 259.75deg);
  --color-secondary-600: oklch(56.7% 0.17 259.56deg);
  --color-secondary-700: oklch(50.92% 0.16 259.32deg);
  --color-secondary-800: oklch(45.31% 0.14 258.99deg);
  --color-secondary-900: oklch(39.17% 0.12 258.56deg);
  --color-secondary-950: oklch(32.78% 0.1 257.95deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(90.94% 0.05 307.9deg);
  --color-tertiary-100: oklch(84.96% 0.09 307.72deg);
  --color-tertiary-200: oklch(79.08% 0.12 307.23deg);
  --color-tertiary-300: oklch(73.12% 0.16 306.27deg);
  --color-tertiary-400: oklch(67.72% 0.2 305.33deg);
  --color-tertiary-500: oklch(62.74% 0.23 304.01deg);
  --color-tertiary-600: oklch(57.07% 0.21 303.82deg);
  --color-tertiary-700: oklch(51.31% 0.18 304.29deg);
  --color-tertiary-800: oklch(45.49% 0.15 303.88deg);
  --color-tertiary-900: oklch(39.4% 0.13 304.55deg);
  --color-tertiary-950: oklch(33.03% 0.1 304.16deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(95.36% 0.05 136.09deg);
  --color-success-100: oklch(90.54% 0.1 136.39deg);
  --color-success-200: oklch(85.95% 0.14 136.75deg);
  --color-success-300: oklch(81.68% 0.18 136.93deg);
  --color-success-400: oklch(77.72% 0.21 137.86deg);
  --color-success-500: oklch(74.16% 0.23 139.22deg);
  --color-success-600: oklch(67.55% 0.21 139.13deg);
  --color-success-700: oklch(61.06% 0.19 139.1deg);
  --color-success-800: oklch(54.07% 0.17 139.12deg);
  --color-success-900: oklch(47.18% 0.14 139.09deg);
  --color-success-950: oklch(39.71% 0.12 138.84deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(97.2% 0.03 94.31deg);
  --color-warning-100: oklch(94.05% 0.06 92.44deg);
  --color-warning-200: oklch(91.31% 0.1 91.96deg);
  --color-warning-300: oklch(88.42% 0.12 91.15deg);
  --color-warning-400: oklch(85.97% 0.15 90.01deg);
  --color-warning-500: oklch(83.39% 0.16 87.85deg);
  --color-warning-600: oklch(76.77% 0.15 88.22deg);
  --color-warning-700: oklch(70.02% 0.13 88.69deg);
  --color-warning-800: oklch(63.3% 0.12 90.15deg);
  --color-warning-900: oklch(56.19% 0.11 91.09deg);
  --color-warning-950: oklch(48.85% 0.09 92.39deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(91.44% 0.03 353.96deg);
  --color-error-100: oklch(83.05% 0.06 358.28deg);
  --color-error-200: oklch(74.57% 0.09 359.28deg);
  --color-error-300: oklch(66.58% 0.12 2.22deg);
  --color-error-400: oklch(58.81% 0.15 4.34deg);
  --color-error-500: oklch(52.05% 0.17 8.61deg);
  --color-error-600: oklch(48.22% 0.16 8.66deg);
  --color-error-700: oklch(44.06% 0.14 7.61deg);
  --color-error-800: oklch(40.05% 0.13 7.53deg);
  --color-error-900: oklch(35.69% 0.12 5.98deg);
  --color-error-950: oklch(31.45% 0.1 5.57deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-light);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(93.68% 0.01 267.41deg);
  --color-surface-100: oklch(86.32% 0.02 266.29deg);
  --color-surface-200: oklch(78.98% 0.02 260.17deg);
  --color-surface-300: oklch(71.23% 0.03 259.05deg);
  --color-surface-400: oklch(63.53% 0.03 256.06deg);
  --color-surface-500: oklch(55.44% 0.04 257.42deg);
  --color-surface-600: oklch(51.28% 0.04 256.82deg);
  --color-surface-700: oklch(46.79% 0.04 258.91deg);
  --color-surface-800: oklch(42.36% 0.03 256.57deg);
  --color-surface-900: oklch(37.64% 0.03 258.99deg);
  --color-surface-950: oklch(33.02% 0.03 258.35deg);
  --color-surface-contrast-dark: var(--color-surface-950);
  --color-surface-contrast-light: var(--color-surface-50);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-light);
  --color-surface-contrast-600: var(--color-surface-contrast-light);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}
